## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

![](Q1.jpg)

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure that can store data of different types in columns. Each column of a DataFrame is a Series, which is a one-dimensional labeled array capable of holding any data type, including objects, numbers, and strings.

The main difference between a DataFrame and a Series is that a DataFrame can store multiple columns of data while a Series can only store a single column of data. Another important difference is that a DataFrame has both row and column indices, while a Series has only a single index.

In [5]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Kate'],
        'Age': [25, 27, 22, 30],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}

df = pd.DataFrame(data)

age_series = df['Age']

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   27    London
2    Bob   22     Paris
3   Kate   30     Tokyo

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a rich set of functions to manipulate and transform data in a DataFrame. Here are some common functions that you can use:

head() and tail(): These functions allow you to preview the first or last n rows of a DataFrame, respectively. For example, df.head() would return the first 5 rows of the DataFrame df.

describe(): This function generates a statistical summary of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values. For example, df.describe() would generate a summary of the DataFrame df.

groupby(): This function allows you to group the rows of a DataFrame based on one or more columns, and apply an aggregation function to each group. For example, df.groupby('Category')['Sales'].sum() would group the DataFrame df by the 'Category' column and sum the 'Sales' column for each group.

drop(): This function allows you to drop one or more rows or columns from a DataFrame. For example, df.drop(['Column1', 'Column2'], axis=1) would drop the 'Column1' and 'Column2' columns from the DataFrame df.

sort_values(): This function allows you to sort the rows of a DataFrame based on one or more columns. For example, df.sort_values('Date') would sort the DataFrame df by the 'Date' column.

fillna(): This function allows you to replace missing values in a DataFrame with a specified value or method. For example, df.fillna(0) would replace all missing values in the DataFrame df with 0.

apply(): This function allows you to apply a function to each element or row of a DataFrame. For example, df['Column1'].apply(lambda x: x**2) would apply the function lambda x: x**2 to each element of the 'Column1' column of the DataFrame df.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the three data structures provided by pandas, Series and DataFrame are mutable in nature, while Panel is considered deprecated since version 0.25.0 and has been removed in the latest version of pandas.

In a Series, you can modify the values of its elements using indexing, slicing, or boolean indexing. Similarly, in a DataFrame, you can modify its elements, add or remove columns or rows, and perform various other operations such as merging, joining, or reshaping the data. However, it's worth noting that any modification you make to a DataFrame or a Series creates a new object rather than modifying the original object in place.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can pass a dictionary of Series to the pd.DataFrame() function, where each key represents a column name and each value represents a Series containing the data for that column.

In [7]:
import pandas as pd

name = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
age = pd.Series([25, 30, 35, 40])
gender = pd.Series(['F', 'M', 'M', 'M'])

data = {'Name': name, 'Age': age, 'Gender': gender}

df = pd.DataFrame(data)

print(df)

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M