In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
print(df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The main difference between them is in how they are used to specify the rows and columns to be selected:

loc: selects rows and columns by label. You can use column and row labels to index the DataFrame using loc. For example, you can select a subset of rows and columns with df.loc[row_label, column_label], where row_label and column_label are labels (strings) for the rows and columns, respectively.

iloc: selects rows and columns by integer position. You can use the integer position of the rows and columns to index the DataFrame using iloc. For example, you can select a subset of rows and columns with df.iloc[row_index, column_index], where row_index and column_index are integers that specify the position of the rows and columns, respectively.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [8]:
# create the new index
reindex = [3, 0, 1, 2]

new_df = df.reindex(reindex)

print(new_df.loc[2])

print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.421785  0.268173  0.405865  0.465908  0.744159  0.804787
2  0.420412  0.823005  0.812926  0.268175  0.415054  0.493346
3  0.150159  0.921719  0.593453  0.726357  0.434864  0.214681
4  0.769165  0.508116  0.531993  0.069661  0.705261  0.485300
5  0.369769  0.048707  0.855323  0.005798  0.182910  0.142185
6  0.091340  0.231873  0.267476  0.609049  0.865805  0.811546

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [11]:
col_means = df1.mean()
print("Mean of each column:")
print(col_means)


col2_std = df1['column_2'].std()
print("Standard deviation of column_2:")
print(col2_std)

Mean of each column:
column_1    0.370438
column_2    0.466932
column_3    0.577839
column_4    0.357491
column_5    0.558009
column_6    0.491974
dtype: float64
Standard deviation of column_2:
0.34784643023988265

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [12]:
df1.loc[2, 'column_2'] = 'string data'


try:
    col2_mean = df1['column_2'].mean()
    print("Mean of column_2:", col2_mean)
except TypeError as e:
    print("Error:", e)

Error: unsupported operand type(s) for +: 'float' and 'str'

This error message is telling us that the program cannot convert the string "string data" to a floating-point number, which is what it needs to do in order to calculate the mean of column_2.

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In Pandas, a window function is a function that applies a calculation to a sliding window of data in a DataFrame. This can be useful for calculating moving averages, cumulative sums, or other types of rolling or expanding statistics.

There are several types of window functions in Pandas:

Rolling window functions: These functions calculate a statistic (such as mean or sum) over a fixed-size window of data, which moves over the DataFrame one row at a time. The size of the window is specified by the window parameter.

Expanding window functions: These functions calculate a statistic over a growing window of data, which starts at the beginning of the DataFrame and includes more rows with each step. The size of the window is not fixed, but instead grows with the size of the DataFrame.

Exponentially weighted window functions: These functions apply a weighted average to the data in a rolling window, where the weights are calculated based on an exponential decay function. This can be useful for calculating moving averages that give more weight to recent data points.

Some common examples of window functions in Pandas include rolling(), expanding(), ewm(), rolling_mean(), rolling_sum(), rolling_std(), and rolling_max(). These functions can be applied to specific columns of a DataFrame, or to the entire DataFrame at once.

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [13]:
import datetime

now = datetime.datetime.now()

print("Current month and year:", now.strftime("%B %Y"))

Current month and year: May 2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [14]:
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_diff = date2 - date1

days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

print("The difference between the two dates is:")
print(f"{days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2022-08-22
Enter the second date (YYYY-MM-DD): 2022-12-23
The difference between the two dates is:
123 days, 0 hours, and 0 minutes.

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

file_path = input("Enter the file path: ")
column_name = input("Enter the column name to convert to categorical data: ")
category_order = input("Enter the category order (comma-separated): ").split(",")

df = pd.read_csv(file_path)

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

df_sorted = df.sort_values(by=column_name)

print(df_sorted)

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path of the CSV file: ")

df = pd.read_csv(file_path)

df['date'] = pd.to_datetime(df['date'])

df.set_index('date', inplace=True)

df_grouped = df.groupby('product_category').resample('M')['sales'].sum().unstack()

ax = df_grouped.plot(kind='bar', stacked=True)

ax.set_xlabel('Date')
ax.set_ylabel('Sales')
ax.set_title('Sales by Product Category over Time')

plt.show()