### Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [4]:
sum = 0
prod= 1
for i in range(1,11):
    sum=sum+i
    prod=prod*i
    
print(f"sum is {sum} , product is {prod}")

sum is 55,product is 3628800

In [5]:
sum = 0
prod= 1
i=1
while i<=10:
    sum=sum+i
    prod=prod*i
    i=i+1
    
print(f"sum is {sum} , product is {prod}")

sum is 55 , product is 3628800

### Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [25]:
units = int(input("Please enter the unit : "))

if (units <= 100):
    print(units * 4.5)
elif (units <= 200):
    print((100 * 4.5) + (units - 100) * 6)
     
elif (units <= 300): 
    print((100 * 4.5) +(100 * 6) +(units - 200) * 10)
     
elif (units > 300):   
    print((100 * 4.5) +(100 * 6) +(100 * 10) +(units - 300) * 20)

Please enter the unit : 310
2250.0

### Q4.Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [30]:
l_cube=[]
l_div_number=[]
for i in range(1,101):
    j=i**3
    l_cube.append(j)
    if j%4==0 or j%5==0:
        l_div_number.append(i)
        
print(l_cube)
print("\n")
print(l_div_number)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [34]:
i=1
l_cube=[]
l_div_number=[]
while i<=100:
    j=i**3
    l_cube.append(j)
    if j%4==0 or j%5==0:
        l_div_number.append(i)
    i+=1
print(l_cube)
print("\n")
print(l_div_number)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

### Q5.Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [39]:
strings = "I want to become a data scientist"
vowels="aeiou"
string = strings.casefold()
count = {}.fromkeys(vowels, 0)

for character in string:

        if character in count:

            count[character] += 1
print(count)

{'a': 4, 'e': 3, 'i': 3, 'o': 2, 'u': 0}