## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in 
a computer system.

SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS) since the 1970s. In the early years, when storage was expensive, SQL databases focused on reducing data duplication.

NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data. The term “NoSQL” was not coined until the early 2000s. It doesn’t mean the systems don’t use SQL, as NoSQL databases do sometimes support some SQL commands. More accurately, “NoSQL” is sometimes defined as “not only SQL.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to create, 
#modify, and delete database objects such as tables, views, indexes, and other schema objects.

CREATE: This DDL command is used to create a new database object like a table, view, index, etc.


CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    phone VARCHAR(20)
);

DROP: This DDL command is used to delete an existing database object like a table, view, index, etc

DROP TABLE customers;

ALTER: This DDL command is used to modify an existing database object like a table, view, index, etc.

ALTER TABLE customers ADD COLUMN address VARCHAR(100);


TRUNCATE: This DDL command is used to delete all data from a table without deleting the table structure

TRUNCATE TABLE customers;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is another subset of SQL (Structured Query Language) used to manipulate data within a database. DML commands allow you to insert, update, and delete records from tables.

INSERT: This DML command is used to insert new records into a table.

INSERT INTO customers (id, name, email, phone) 
VALUES (1, 'John Doe', 'johndoe@email.com', '555-1234');


UPDATE: This DML command is used to update existing records within a table.

UPDATE customers SET phone='555-5678' WHERE id=1;


DELETE: This DML command is used to delete records from a table.

DELETE FROM customers WHERE id=1;

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from one or more tables within a database. The primary DQL command is SELECT, which is used to retrieve data from a table or multiple tables.

SELECT * FROM customers;

SELECT id, name, email FROM customers;


SELECT * FROM customers WHERE name='John Doe';

## Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or a set of columns that uniquely identifies each record in a table. A Primary Key cannot contain null values, and its values must be unique for every record in the table. The Primary Key is used to enforce referential integrity and ensure that each record in the table can be uniquely identified. For example, in a "Customers" table, the "CustomerID" column can be the Primary Key, as each customer will have a unique ID number.

A Foreign Key is a column or a set of columns in one table that refers to the Primary Key in another table. A Foreign Key creates a relationship between two tables and enforces referential integrity between them. In other words, it ensures that the values in the Foreign Key column in one table match the values in the Primary Key column in another table. For example, in an "Orders" table, the "CustomerID" column can be a Foreign Key that refers to the "CustomerID" column in the "Customers" table. This creates a relationship between the two tables, ensuring that each order is associated with a valid customer.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the results
result = mycursor.fetchall()

# print the results
for row in result:
  print(row)

The execute() method of the cursor object is used to execute a SQL query. In this example, we execute a simple SELECT query to retrieve all records from the "customers" table.

The cursor() method creates a cursor object that allows you to execute SQL queries and fetch results, while the execute() method is used to execute a SQL query.

## Q7. Give the order of execution of SQL clauses in an SQL query.

The SQL order of execution defines the order in which the clauses of a query are evaluated.

1 from

2 Where

3 Group by

4 Having 

5 Select 

6 Order by

7 Limit